pkgbase = iana-etc
    pkgdesc =  The Iana-Etc package provides data for network services and protocols.
    pkgver = 20240125 
    pkgrel = 1
    url = https://www.linuxfromscratch.org/lfs/downloads/stable-systemd/LFS-BOOK-12.1-systemd-NOCHUNKS.html#ch-system-man-pages
    arch = any
    license = GPL3
    depends = coreutils
    depends = make
    source = https://ftp.osuosl.org/pub/lfs/lfs-packages/12.1/iana-etc-20240125.tar.gz
    sha256sums = SKIP
pkgname = iana-etc
