pkgbase = glibc
    pkgdesc = The Glibc package contains the main C library. This library provides the basic routines for allocating memory, searching directories, opening and closing files, reading and writing files, string handling, pattern matching, arithmetic, and so on. 
    pkgver = 2.39
    pkgrel = 1
    url = https://www.linuxfromscratch.org/lfs/downloads/stable-systemd/LFS-BOOK-12.1-systemd-NOCHUNKS.html#ch-system-man-pages
    arch = any
    license = GPL3
    makedepends = git gd lib32-gcc-libs python 
    source = https://ftp.osuosl.org/pub/lfs/lfs-packages/12.1/glibc-2.39-fhs-1.patch
    source = https://ftp.osuosl.org/pub/lfs/lfs-packages/12.1/glibc-2.39.tar.xz
    source = glibcinstall.sh
    sha256sums = SKIP
    sha256sums = SKIP
    sha256sums = SKIP
pkgname = glibc