
pkgbase = lib32-mesa
	pkgdesc = Open-source OpenGL drivers - 32-bit
	pkgver = 24.1.5
	pkgrel = 2
	epoch = 1
	url = https://www.mesa3d.org/
	arch = x86_64
	license = MIT AND BSD-3-Clause AND SGI-B-2.0
	makedepends = lib32-clang
	makedepends = lib32-expat
	makedepends = lib32-gcc-libs
	makedepends = lib32-glibc
	makedepends = lib32-libdrm
	makedepends = lib32-libelf
	makedepends = lib32-libglvnd
	makedepends = lib32-libva
	makedepends = lib32-libvdpau
	makedepends = lib32-libx11
	makedepends = lib32-libxcb
	makedepends = lib32-libxext
	makedepends = lib32-libxfixes
	makedepends = lib32-libxml2
	makedepends = lib32-libxrandr
	makedepends = lib32-libxshmfence
	makedepends = lib32-libxxf86vm
	makedepends = lib32-llvm
	makedepends = lib32-llvm-libs
	makedepends = lib32-lm_sensors
	makedepends = lib32-rust-libs
	makedepends = lib32-spirv-llvm-translator
	makedepends = lib32-spirv-tools
	makedepends = lib32-systemd
	makedepends = lib32-vulkan-icd-loader
	makedepends = lib32-wayland
	makedepends = lib32-xcb-util-keysyms
	makedepends = lib32-zlib
	makedepends = lib32-zstd
	makedepends = cbindgen
	makedepends = clang
	makedepends = cmake
	makedepends = elfutils
	makedepends = glslang
	makedepends = libclc
	makedepends = meson
	makedepends = python-mako
	makedepends = python-packaging
	makedepends = python-ply
	makedepends = rust-bindgen
	makedepends = wayland-protocols
	makedepends = xorgproto
	options = !lto
	source = https://mesa.freedesktop.org/archive/mesa-24.1.5.tar.xz
	source = 0001-radeonsi-vcn-Add-decode-DPB-buffers-as-CS-dependency.patch
	source = proc-macro2-1.0.70.tar.gz::https://crates.io/api/v1/crates/proc-macro2/1.0.70/download
	source = unicode-ident-1.0.12.tar.gz::https://crates.io/api/v1/crates/unicode-ident/1.0.12/download
	source = quote-1.0.33.tar.gz::https://crates.io/api/v1/crates/quote/1.0.33/download
	source = paste-1.0.14.tar.gz::https://crates.io/api/v1/crates/paste/1.0.14/download
	source = syn-2.0.39.tar.gz::https://crates.io/api/v1/crates/syn/2.0.39/download
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP

pkgname = lib32-mesa-ps4
	depends = lib32-expat
	depends = lib32-gcc-libs
	depends = lib32-glibc
	depends = lib32-libdrm
	depends = lib32-libelf
	depends = lib32-libglvnd
	depends = lib32-libx11
	depends = lib32-libxcb
	depends = lib32-libxext
	depends = lib32-libxfixes
	depends = lib32-libxshmfence
	depends = lib32-libxxf86vm
	depends = lib32-llvm-libs
	depends = lib32-lm_sensors
	depends = lib32-wayland
	depends = lib32-zlib
	depends = lib32-zstd
	depends = mesa
	optdepends = opengl-man-pages: for the OpenGL API man pages
	provides = lib32-mesa-libgl
	provides = lib32-opengl-driver
	conflicts = lib32-mesa-libgl
	replaces = lib32-mesa-libgl

pkgname = lib32-libva-mesa-driver-ps4
	pkgdesc = Open-source VA-API drivers - 32-bit
	depends = lib32-expat
	depends = lib32-gcc-libs
	depends = lib32-glibc
	depends = lib32-libdrm
	depends = lib32-libelf
	depends = lib32-libx11
	depends = lib32-libxcb
	depends = lib32-libxshmfence
	depends = lib32-llvm-libs
	depends = lib32-zlib
	depends = lib32-zstd
	depends = libva-mesa-driver
	provides = lib32-libva-driver

pkgname = lib32-mesa-vdpau-ps4
	pkgdesc = Open-source VDPAU drivers - 32-bit
	depends = lib32-expat
	depends = lib32-gcc-libs
	depends = lib32-glibc
	depends = lib32-libdrm
	depends = lib32-libelf
	depends = lib32-libx11
	depends = lib32-libxcb
	depends = lib32-libxshmfence
	depends = lib32-llvm-libs
	depends = lib32-zlib
	depends = lib32-zstd
	depends = mesa-vdpau
	provides = lib32-vdpau-driver

pkgname = lib32-opencl-clover-mesa-ps4
	pkgdesc = Open-source OpenCL drivers - Clover variant - 32-bit
	depends = lib32-clang
	depends = lib32-expat
	depends = lib32-gcc-libs
	depends = lib32-glibc
	depends = lib32-libdrm
	depends = lib32-libelf
	depends = lib32-llvm-libs
	depends = lib32-spirv-llvm-translator
	depends = lib32-spirv-tools
	depends = lib32-zlib
	depends = lib32-zstd
	depends = opencl-clover-mesa
	optdepends = opencl-headers: headers necessary for OpenCL development
	provides = lib32-opencl-driver
	conflicts = lib32-opencl-mesa-ps4
	replaces = lib32-opencl-mesa<=23.1.4-1

pkgname = lib32-opencl-rusticl-mesa-ps4
	pkgdesc = Open-source OpenCL drivers - RustICL variant - 32-bit
	depends = lib32-clang
	depends = lib32-expat
	depends = lib32-gcc-libs
	depends = lib32-glibc
	depends = lib32-libdrm
	depends = lib32-libelf
	depends = lib32-llvm-libs
	depends = lib32-spirv-llvm-translator
	depends = lib32-spirv-tools
	depends = lib32-zlib
	depends = lib32-zstd
	depends = opencl-rusticl-mesa
	optdepends = opencl-headers: headers necessary for OpenCL development
	provides = lib32-opencl-driver
	conflicts = lib32-opencl-mesa-ps4
	replaces = lib32-opencl-mesa<=23.1.4-1

pkgname = lib32-vulkan-intel-ps4
	pkgdesc = Open-source Vulkan driver for Intel GPUs - 32-bit
	depends = lib32-expat
	depends = lib32-gcc-libs
	depends = lib32-glibc
	depends = lib32-libdrm
	depends = lib32-libx11
	depends = lib32-libxcb
	depends = lib32-libxshmfence
	depends = lib32-systemd
	depends = lib32-vulkan-icd-loader
	depends = lib32-wayland
	depends = lib32-xcb-util-keysyms
	depends = lib32-zlib
	depends = lib32-zstd
	depends = vulkan-intel
	optdepends = lib32-vulkan-mesa-layers: additional vulkan layers
	provides = lib32-vulkan-driver

pkgname = lib32-vulkan-mesa-layers-ps4
	pkgdesc = Mesa's Vulkan layers - 32-bit
	depends = lib32-gcc-libs
	depends = lib32-glibc
	depends = lib32-libdrm
	depends = lib32-libxcb
	depends = lib32-wayland
	depends = vulkan-mesa-layers
	conflicts = lib32-vulkan-mesa-layer-ps4
	replaces = lib32-vulkan-mesa-layer-ps4

pkgname = lib32-vulkan-radeon-ps4
	pkgdesc = Open-source Vulkan driver for AMD GPUs - 32-bit
	depends = lib32-expat
	depends = lib32-gcc-libs
	depends = lib32-glibc
	depends = lib32-libdrm
	depends = lib32-libelf
	depends = lib32-libx11
	depends = lib32-libxcb
	depends = lib32-libxshmfence
	depends = lib32-llvm-libs
	depends = lib32-systemd
	depends = lib32-vulkan-icd-loader
	depends = lib32-wayland
	depends = lib32-xcb-util-keysyms
	depends = lib32-zlib
	depends = lib32-zstd
	depends = vulkan-radeon
	optdepends = lib32-vulkan-mesa-layers: additional vulkan layers
	provides = lib32-vulkan-driver

pkgname = lib32-vulkan-swrast-ps4
	pkgdesc = Open-source Vulkan driver for CPUs (Software Rasterizer) - 32-bit
	depends = lib32-expat
	depends = lib32-gcc-libs
	depends = lib32-glibc
	depends = lib32-libdrm
	depends = lib32-libx11
	depends = lib32-libxcb
	depends = lib32-libxshmfence
	depends = lib32-llvm-libs
	depends = lib32-systemd
	depends = lib32-vulkan-icd-loader
	depends = lib32-wayland
	depends = lib32-xcb-util-keysyms
	depends = lib32-zlib
	depends = lib32-zstd
	depends = vulkan-swrast
	optdepends = lib32-vulkan-mesa-layers-ps4: additional vulkan layers
	provides = lib32-vulkan-driver
	conflicts = lib32-vulkan-mesa-ps4
	replaces = lib32-vulkan-mesa-ps4

pkgname = lib32-vulkan-virtio-ps4
	pkgdesc = Open-source Vulkan driver for Virtio-GPU (Venus) - 32-bit
	depends = lib32-expat
	depends = lib32-gcc-libs
	depends = lib32-glibc
	depends = lib32-libdrm
	depends = lib32-libx11
	depends = lib32-libxcb
	depends = lib32-libxshmfence
	depends = lib32-systemd
	depends = lib32-vulkan-icd-loader
	depends = lib32-wayland
	depends = lib32-xcb-util-keysyms
	depends = lib32-zlib
	depends = lib32-zstd
	depends = vulkan-virtio
	optdepends = lib32-vulkan-mesa-layers-ps4: additional vulkan layers
	provides = lib32-vulkan-driver
