pkgbase = m4
    pkgdesc =  The M4 package contains a macro processor. 
    pkgrel = 1
    url = https://www.linuxfromscratch.org/lfs/downloads/stable-systemd/LFS-BOOK-12.1-systemd-NOCHUNKS.html#ch-system-man-pages
    arch = x86_64
    license = GPL
    source = https://ftp.osuosl.org/pub/lfs/lfs-packages/12.1/m4-1.4.19.tar.xz
pkgname = m4
