pkgbase = ps4
	pkgdesc = A ps4 package manager Base off of pacman
	pkgver = 1.0
	pkgrel = 0
	url = https://github.com/TigerClips1
	arch = x86_64
	license = GPL-2.0-or-later
	checkdepends = python
	checkdepends = fakechroot
	makedepends = meson
	makedepends = asciidoc
	makedepends = doxygen
	depends = bash
	depends = glibc
	depends = libarchive
	depends = curl
	depends = gpgme
	depends = gettext
	depends = gawk
	depends = coreutils
	depends = gnupg
	depends = grep
	optdepends = perl-locale-gettext: translation support in makepkg-template
	provides = libalpm.so
	options = strip
	backup = etc/ps4.conf
	backup = etc/makepkg.conf
	source = https://github.com/TigerClips1/ps4linux-package-manager/archive/refs/tags/ps4V1.0.1-8.tar.gz
    source = ps4V1.0.1-8.tar.gz
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = ps4
