pkgbase = llvm
	pkgver = 18.1.8
	pkgrel = 4
	url = https://llvm.org/
	arch = x86_64
	license = Apache-2.0 WITH LLVM-exception
	makedepends = cmake
	makedepends = ninja
	makedepends = zlib
	makedepends = zstd
	makedepends = curl
	makedepends = libffi
	makedepends = libedit
	makedepends = ncurses
	makedepends = libxml2
	makedepends = python-setuptools
	makedepends = python-psutil
	makedepends = python-sphinx
	makedepends = python-myst-parser
	options = staticlibs
	options = !lto
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-18.1.8/llvm-18.1.8.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-18.1.8/llvm-18.1.8.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-18.1.8/cmake-18.1.8.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-18.1.8/cmake-18.1.8.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-18.1.8/third-party-18.1.8.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-18.1.8/third-party-18.1.8.src.tar.xz.sig
	source = llvm-SelectionDAG.patch::https://github.com/llvm/llvm-project/commit/46505b3cbfc5.patch
	
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = llvm
	pkgdesc = Compiler infrastructure
	depends = llvm-libs
	depends = perl

pkgname = llvm-libs
	pkgdesc = LLVM runtime libraries
	depends = gcc-libs
	depends = zlib
	depends = zstd
	depends = curl
	depends = libffi
	depends = libedit
	depends = ncurses
	depends = libxml2
